.home-container {
  width: 100%;
  padding-top: 100px;
}

.title, .subtitle {
  text-align: center;
}

.choose-location {
  text-align: center;
  width: 100%;
  div{
    width: 100%;
    text-align: center;
    display: block;
  }
}