.current-weather-container {
  width: 100%;
}

.title {
  text-align: center;
}

.weather-icon {
  text-align: center;
}

.weather-stats {
  text-align: center;
  width: 100%;
  div{
    width: 100%;
    text-align: center;
  }
}