<ng-container *ngIf="currentWeather">
  <mat-card>
    <div class="current-weather-container">
      <h2 class="title">Current weather in {{city?.name}}, {{country?.name}}</h2>
    
      <div class="weather-icon">
        <wa-weather-icon [weather]="currentWeather?.weather[0].main"></wa-weather-icon>
        <h3>{{currentWeather?.weather[0].main}}</h3>
      </div>
      
      <div class="weather-stats">
          <wa-weather-info-item [itemType]="'Temperature'" [value]="currentWeather?.main.temp"></wa-weather-info-item>
          <wa-weather-info-item [itemType]="'Humidity'" [value]="currentWeather?.main.humidity"></wa-weather-info-item>
          <wa-weather-info-item [itemType]="'Wind Speed'" [value]="currentWeather?.wind.speed"></wa-weather-info-item>
          <wa-weather-info-item *ngIf="currentWeather?.wind.deg" [itemType]="'Wind Degree'" [value]="currentWeather?.wind.deg"></wa-weather-info-item>
      </div>
    </div>
  </mat-card>
</ng-container>